Django==3.2.4
mysqlclient==2.0.3
django-mysql==3.8.1
djangorestframework==3.12.4
django_redis==5.0.0
redis==4.0.2
celery==5.2.1
flower==1.0.0
drf-yasg==1.20.0
psycopg2-binary==2.9.6
requests==2.27.1
Faker==20.1.0
flake8==3.9.2
pylint==2.14.3
pylint-print==1.0.0
pylint-django==2.5.3
requests-mock==1.9.3
factory-boy==3.2.1
black==22.12.0
isort==5.10.1
nox==2022.11.21
